#Eclipse
.project
.classpath
.buildpath
.settings/
.metadata
#Idea
.idea/
*.iml

target/
bower_components/
/.apt_generated/

.DS_Store
*.log
detalle_ganancia*
detail_gain*
web/
META-INF
pom.xml.releaseBackup
release.properties
/node_modules/*
out/
